td {
   font-size: 50px;
   color: white;
}

div {
   display: flex;
   justify-content: center;
}

hr {
   color: white;
   font-size: 10px;
   margin-bottom: 50px;
   margin-top: 0px;
}

body {
   background-color: black;
}

.modal-header {
   color: black;
}

.title {
   color: white;
   margin: 0px;
   padding: 20px;
}

nav > ol > li {
   padding: 3px;
}
